$padding-player: 5.5px ;

// @mixin border-color($color) {
// 	border: $color;
// }


%style-of-the-players{
	position: absolute;
	height: 20%;   //20%
	width: 20px;  //20%
	top: 50%;
	transform: translateY(-50%);
}

%span_pop-up{
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: #F77F1D;
	border: width solid 1px;
}


.wrapper{
	max-width: 1200px;
	height: 80vh;
	margin: 0px auto;
	color: white;

	.wrapper_pop-up{
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, .8);
		z-index: 2;
		display: block;

		.wrapper_pop-up_container{
			display: flex;
			width: 100%;
			height: 100%;

			.wrapper_pop-up_body{
				display: flex;
				justify-content: space-evenly;
				align-items: flex-end;
				margin: auto;
				width: 500px;
				background-color: #18171C;
				border-radius: 10px;
				text-align: center;
				padding: 100px 15px 110px 15px;
				position: relative;

				button{
					width: 50px;
					height: 50px;
					border-radius: 10px;
					background-color: #282931;
				}

				button:nth-child(1){
					img{
						width: 80%;
						height: 80%;
					}
				}
				button:nth-child(2){
					display: flex;
					align-items: center;
					justify-content: center;

					.pop-up_triangle{
						width: 0; 
						height: 0;
						border-top: 15px solid transparent;
						border-left: 30px solid #F77F1D;
						border-bottom: 15px solid transparent;
					}
				}

				button:nth-child(3){
					img{
						width: 80%;
						height: 80%;
					}
				}
			}
		}
	}

	.wrapper_pop-up.inactive{
		display: none;
	}

	.wrapper_check{
		font-size: 40px;
		text-align: center;
		letter-spacing: 10px;

		span:nth-child(1){
			color: rgb(255, 0, 0);
		}
		span:nth-child(3){
			color: rgb(62, 62, 233);
		}
	}

	.wrapper_field{
		width: 100%;
		max-height: 800px;
		height: 100%;
		margin: 0px auto;
		border: #F77F1D solid 1px;
		position: relative;

		.wrapper_player1{
			@extend %style-of-the-players;
			left: $padding-player;
			border: red solid 2px;
		}

		.wrapper_player2{
			@extend %style-of-the-players;
			right: $padding-player;
			border: rgb(62, 62, 233) solid 2px;
		}

		.wrapper_center-of-the-field{
			border-left: 1px solid #F77F1D;
			height: 100%;
			position: absolute;
			left: 50%;
			margin-left: -5px;
			top: 0;
		}

		.wrapper_ball{
			position: absolute;
			width: 25px;
			height: 25px;
			border-radius: 50px;
			border: 1px solid #F77F1D;
			left: 20.5%;
			top: 50%;
			transform: translateY(-50%);
		    //transform: translateX(-49.6%);
			background-color: #f77f1d7a;
		}
	}
}

@media (max-width: 767px) {
	.wrapper{
		.wrapper_check{
			font-size: 30px;
			text-align: center;
			letter-spacing: 10px;
		}
		.wrapper_field{
			max-height: 71vh;

			.wrapper_ball{
				left: 49.4%;
				top: 46.5%;
				transform: translateY(-50%);
				transform: translateX(-49.9%);
			}
		}
	}	
}

