header{
	width: 100%;
	height: 60px;
	background-color: #282931;
	padding: 5px 10px 5px 10px;

	.container{
		width: 100%;

		.header_body{
			
			.header_link{
				font-size: 35px;
				margin: 7px 10%;
				display: flex;
				justify-content:space-between;
			}

			.header_mainLink:visited{color: #F77F1D;}

			.header_mainLink:hover{
				color: #db8137;
				text-decoration: underline;
			}
			
			.header_search{
				margin: -5px 0px;
				padding: 0px 10px;
			}

			.header_input{
				position: absolute;
				top: 10px;
				width: 300px;
				height: 35px;
				background-color: #282931;
				border: 1px white solid;
				border-radius: 2em;
				color: white;
				padding: 0px 20px;
				font-size: 20px;
				margin: 3px -320px;	
			}
			
			button{
				width: 35px;
				height: 35px;
				background-image: url(../../../../assets/img/magnifier.jpg);
				background-color: #282931;
				background-size: 100% 100%;
				margin: 5px 0px;
			}
			
			@media (max-width: 685px) {
				.header_link{ margin: 7px 5%; }
			}
			@media (max-width: 611px) {
				.header_input{ display: none; }
			}
		}
	}
}

.wrapper_input-outside{
	display: block;
	height: 35px;
	background-color: #18171C;
	border: 1px white solid;
	border-radius: 2em;
	color: white;
	padding: 0px 20px;
	font-size: 20px;
	margin: 10px auto;
}

@media (min-width: 611px) {
	.wrapper_input-outside{	display: none;}
}