main{
	color: white;
	
	.container{
		max-width: 1200px;
		margin: 43px auto;
		
		.main_grid-content{
			display: grid;
			grid-template: repeat(2, 150px) 240px / repeat(3, minmax(101px, 133px)) repeat(5, minmax(55px, 150px)) ;
			grid-template-areas: 
			"this-day this-day this-day	info info info info info"
			"this-day this-day this-day	info info info info info"
			"cards cards cards cards cards cards cards cards";
			margin: 20px;
			gap: 20px;
			
			.main_this-day{
				grid-area: this-day;
				background: #282931;
				border-radius: 20px;
				position: relative;

				.this-day_container{
					@extend %container;

					text-align: center;

					.this-day_temperature{
						color: #F77F1D;
						font-size: 96px;
						display: inline-block;
					}

					.this-day_icon{
						position: absolute;
						left: 50%;
						top: 30%;
						transform: translateX(-50%);
					}

					.this-day_date{
						font-size: 40px;
						line-height: 35px;
						margin-top: 70px;
					}

					.this-day_city{
						@extend %this-day_text-color;
						margin-top: 20px;
					}

					.this-day_clouds{
						position: absolute;
						top: 150px;
						left: 260px;
						width: 400px;
						height: 200px;
					}
				}
			}

			.main_info{	
				grid-area: info;	
				background: #282931;
				border-radius: 20px;
				position: relative;
				overflow: hidden;

				.info_clouds{
					position: absolute;
					width: 500px;
					left: 200px;
					top: 10px;
				}

				.info_container{
					@extend %container;
					display: grid;
					grid-template: repeat(4, 60px) / 1fr;
					grid-template-areas: 
					"thermometer"
					"humidity"
					"evaporation"
					"wind";
					row-gap: 10px;

					.info_thermometer{
						position: relative;
						grid-area: thermometer;
						.info_circle{background: white url('../../../../assets/img/thermometer.png') center/80% 80% no-repeat;}
					}

					.info_humidity{
						position: relative;
						grid-area: humidity;
						.info_circle{background: white url('../../../../assets/img/humidity.png') center/80% 80% no-repeat;}	
					}

					.info_evaporation{
						position: relative;
						grid-area: evaporation;
						.info_circle{background: white url('../../../../assets/img/evaporation.png') center/80% 80% no-repeat;}
					}

					.info_wind{
						position: relative;
						grid-area: wind;
						.info_circle{background: white url('../../../../assets/img/wind.png') center/80% 80% no-repeat;}
					}
					
					.info_circle{
						width: 38px;
						height: 38px;
						border-radius: 50%;
						margin-top: 10px;
						display: inline-block;
					}

					.info_content{
						position: absolute;
						display: inline-block;
						color: #939CB0;
						left: 50px;
						top: 22px;
						font-size: 14px;
						line-height: 17px;
					}

					.info_meaning{
						display: inline-block;
						position: absolute;
						left: 150px;
						top: 24px;

						#info_meaning-arrow{
							position: absolute;
							width: 5px; 
    						height: 5px;
   							border-left: 2.5px solid transparent;
    						border-right: 2.5px solid transparent;
   							border-top: 8px solid;
						    display: inline-block;
							margin-left: 5px;
							margin-top: 2px;
						}
					}
				}			
			}
			@media (min-width: 767px) {

				.main_cards{
					grid-area: cards;
					background: #282931;
					border-radius: 20px;

					.cards_container{
						margin: 20px auto;
						display: flex;
						justify-content: space-around;
					
						.cards_item{				
							width: 149px;
							height: 200px;
							background: #1b1c1d;
							border-radius: 10px;
							margin: 0px 5px 0px 5px;
						
							.cards_item-container{
								margin: 10px;

								.cards_day-of-week{
									font-weight: 500;
									font-size: 18px;
									line-height: 22px;
								}

								.cards_date{
									font-size: 14px;
									line-height: 17px;
									color: #939CB0;
								}

								.cards_icon{
									margin: 10px 0px 10px 0px;
								}

								.cards_daytime-temperature{
									font-size: 18px;
									line-height: 22px;
								}

								.cards_feels-like-temperature{
									font-size: 13px;
									line-height: 16px;
									color: #939CB0;
								}

								.cards_additional-information{
									margin-top: 2px;
									font-size: 13px;
									line-height: 16px;
									color: #939CB0;
								}
							}

							@media (max-width: 1019px) {
								.cards_item-container{
									text-align: center;
								}
								.cards_icon{
									div{
										margin: 0px auto;
									}
								}
							}
						}
					}
				}
			}
		}
		
		@media (max-width: 767px) {
			.main_grid-content{
				grid-template: repeat(2, 300px) 1fr / minmax(100px, 767px) ;
				grid-template-areas: 
				"this-day "
				"info"
				"cards ";
				margin-top: 60px;
			}

			.main_this-day{
				grid-area: this-day;
			}

			.main_info{	
				grid-area: info;
			}

			.main_cards{
				grid-area: cards;
				
				.cards_container{
					display: grid;
					grid-template: repeat(7, 70px) / minmax(100px, 767px);
					gap: 10px;

					.cards_item{
						background: #282931;
						border-radius: 10px;
						
						.cards_item-container{
							position: relative;

							.cards_day-of-week{
								font-weight: 500;
								font-size: 18px;
								line-height: 22px;
								display: inline-block;
								position: absolute;
								margin: 10px 0px 10px 0px;
								left: 20px;
							}

							.cards_date{
								font-size: 14px;
								line-height: 17px;
								color: #939CB0;
								display: inline-block;
								position: absolute;
								margin: 35px 0px 0px 20px;
							}

							.cards_icon{
								margin: 10px 0px 10px 0px;
								display: inline-block;
								position: absolute;
								right: 20px;
							}

							.cards_daytime-temperature{
								font-size: 18px;
								line-height: 22px;
								display: inline-block;
								position: absolute;
								left: 40%;
								top: 15px;
							}

							.cards_feels-like-temperature{
								font-size: 13px;
								line-height: 16px;
								color: #939CB0;
								display: inline-block;
								position: absolute;
								left: 40%;
								top: 40px;
							}

							.cards_additional-information{
								height: 100%;
								width: 80px;
								margin-top: 5px;
								font-size: 13px;
								line-height: 16px;
								color: #939CB0;
								display: inline-block;
								position: absolute;
								right: 24%;
								top: 17px;
								text-align: center;
								//border: red solid 1px;
							}

							@media (max-width: 488px) {
								.cards_day-of-week{	left: 10%; }
								.cards_date{ left: 5%; }
								.cards_daytime-temperature{	left: 40%; }
								.cards_feels-like-temperature—ã{ left: 48%; }
								.cards_additional-information{ display: none; }
							}
						}
					}
				}
			}
		}
	}
}

%this-day_text-color {
	line-height: 30px;
	color: #939CB0;
	font-size: 25px;
}

%container{
	margin: 20px;
	position: relative;
}