<div class="wrapper">
	<app-site-two-header #header></app-site-two-header>
	<main>
		<div class="container">
			<div class="main_grid-content">
				<div class="main_this-day">
					<div class="this-day_container">
						<div class="this-day_temperature">
							<span>-20°</span>
						</div>
						<div class="this-day_icon">
							<div></div>
						</div>
						<div class="this-day_date">
							<span>Сегодня</span>
						</div>
						<div class="this-day_time">
							<span>Время: 18:04</span>
						</div>
						<div class="this-day_city">
							<span>{{city}}</span>
						</div>
					</div>
				</div>
				<div class="main_info">
					<img src="assets/img/clouds.png" alt="">

					<div class="info_container">

						<div class="info_thermometer">
							<div class="info_circle"></div>
							<div class="info_content">
								<span>Температура</span>
							</div>
							<div class="info_meaning">
								<span>-20° как -22°</span>
							</div>
						</div>

						<div class="info_humidity">
							<div class="info_circle"></div>
							<div class="info_content">
								<span>Давление</span>
							</div>
							<div class="info_meaning">
								<span>765 мм.рт.ст.</span>
							</div>
						</div>

						<div class="info_evaporation">
							<div class="info_circle"></div>
							<div class="info_content">
								<span>Осадки</span>
							</div>
							<div class="info_meaning">
								<span>Без осадков</span>
							</div>
						</div>

						<div class="info_wind">
							<div class="info_circle"></div>
							<div class="info_content">
								<span>Ветер</span>
							</div>
							<div class="info_meaning">
								<span>5 м/с СВ</span>
							</div>
						</div>

					</div>
				</div>
				<div class="main_cards">
					<div class="cards_container">
						<div class="cards_item">
							<div class="cards_item-container">
								<div class="cards_day-of-week">
									<span>Сегодня</span>
								</div>
								<div class="cards_date">
									<span>11 дек</span>
								</div>
								<div class="cards_icon">
									<div
										style="width: 50px; height: 50px; background-color: aliceblue; border-radius: 50%;">
									</div>
								</div>
								<div class="cards_daytime-temperature">
									<span>-20°</span>
								</div>
								<div class="cards_nighttime-temperature">
									<span>-22°</span>
								</div>
								<div class="cards_additional-information">
									<span>Небольшой дождь</span>
								</div>
							</div>
						</div>
						<div class="cards_item">
							<div class="cards_item-container">
								<div class="cards_day-of-week">
									<span>Сегодня</span>
								</div>
								<div class="cards_date">
									<span>11 дек</span>
								</div>
								<div class="cards_icon">
									<div
										style="width: 50px; height: 50px; background-color: aliceblue; border-radius: 50%;">
									</div>
								</div>
								<div class="cards_daytime-temperature">
									<span>-20°</span>
								</div>
								<div class="cards_nighttime-temperature">
									<span>-22°</span>
								</div>
								<div class="cards_additional-information">
									<span>Небольшой дождь</span>
								</div>
							</div>

						</div><div class="cards_item">
							<div class="cards_item-container">
								<div class="cards_day-of-week">
									<span>Сегодня</span>
								</div>
								<div class="cards_date">
									<span>11 дек</span>
								</div>
								<div class="cards_icon">
									<div
										style="width: 50px; height: 50px; background-color: aliceblue; border-radius: 50%;">
									</div>
								</div>
								<div class="cards_daytime-temperature">
									<span>-20°</span>
								</div>
								<div class="cards_nighttime-temperature">
									<span>-22°</span>
								</div>
								<div class="cards_additional-information">
									<span>Небольшой дождь</span>
								</div>
							</div>

						</div><div class="cards_item">
							<div class="cards_item-container">
								<div class="cards_day-of-week">
									<span>Сегодня</span>
								</div>
								<div class="cards_date">
									<span>11 дек</span>
								</div>
								<div class="cards_icon">
									<div
										style="width: 50px; height: 50px; background-color: aliceblue; border-radius: 50%;">
									</div>
								</div>
								<div class="cards_daytime-temperature">
									<span>-20°</span>
								</div>
								<div class="cards_nighttime-temperature">
									<span>-22°</span>
								</div>
								<div class="cards_additional-information">
									<span>Небольшой дождь</span>
								</div>
							</div>

						</div><div class="cards_item">
							<div class="cards_item-container">
								<div class="cards_day-of-week">
									<span>Сегодня</span>
								</div>
								<div class="cards_date">
									<span>11 дек</span>
								</div>
								<div class="cards_icon">
									<div
										style="width: 50px; height: 50px; background-color: aliceblue; border-radius: 50%;">
									</div>
								</div>
								<div class="cards_daytime-temperature">
									<span>-20°</span>
								</div>
								<div class="cards_nighttime-temperature">
									<span>-22°</span>
								</div>
								<div class="cards_additional-information">
									<span>Небольшой дождь</span>
								</div>
							</div>

						</div><div class="cards_item">
							<div class="cards_item-container">
								<div class="cards_day-of-week">
									<span>Сегодня</span>
								</div>
								<div class="cards_date">
									<span>11 дек</span>
								</div>
								<div class="cards_icon">
									<div
										style="width: 50px; height: 50px; background-color: aliceblue; border-radius: 50%;">
									</div>
								</div>
								<div class="cards_daytime-temperature">
									<span>-20°</span>
								</div>
								<div class="cards_nighttime-temperature">
									<span>-22°</span>
								</div>
								<div class="cards_additional-information">
									<span>Небольшой дождь</span>
								</div>
							</div>

						</div><div class="cards_item">
							<div class="cards_item-container">
								<div class="cards_day-of-week">
									<span>Сегодня</span>
								</div>
								<div class="cards_date">
									<span>11 дек</span>
								</div>
								<div class="cards_icon">
									<div
										style="width: 50px; height: 50px; background-color: aliceblue; border-radius: 50%;">
									</div>
								</div>
								<div class="cards_daytime-temperature">
									<span>-20°</span>
								</div>
								<div class="cards_nighttime-temperature">
									<span>-22°</span>
								</div>
								<div class="cards_additional-information">
									<span>Небольшой дождь</span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>