select{
	height: 35px;
	border: 1px white solid;
	border-radius: 2em;
	color: white;
	padding: 0px 20px;
	text-align: center;
	font-size: 20px;
	display: block;
}

.header_select-insite{
	background-color: #282931;
	margin: 5px auto;
}

.header_select-outsite{
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #18171C;
	margin: 10px auto;
}
