<div class="wrapper">
	<site-one-header></site-one-header>
	<input class="wrapper_input-outside" type="text" placeholder="Поиск произведения" />
	<main>
		<div class="main_grid">
			<div class="main_item">
				<h2>Последние запросы:</h2>
				<ul class="main_list">
					<li class="main_list-item"><button class="main_list-button">1.Элемент номер один</button></li>
					<li class="main_list-item"><button class="main_list-button">2. Элемент номер два</button></li>
					<li class="main_list-item"><button class="main_list-button">3. Элемент номер три</button></li>
					<li class="main_list-item"><button class="main_list-button">4. Элемент номер четыре</button></li>
					<li class="main_list-item"><button class="main_list-button">5. "Элемент номер пять</button></li>
				</ul>
			</div>
			<div class="main_item">
				<div class="main_container">
					<ul>
						<li><a href="">addddffffffffffffffffffffffffffffffffffffffffffffffffffddddda</a></li>
						<li><a href="">list-style-position: inside;asdfasdf sdfasdf sdfasdf</a></li>
						<li>adsfadf</li>
					</ul>
				</div>
			</div>
			<div class="main_item">
				<div class="main_container main_container-lat">
					Omne ignotum pro magnifico.
				</div>
			</div>
		</div>
	</main>
</div>