<div class="wrapper">
	<home-header></home-header>
	<div class="wrapper_container">
		<div class="wrapper_body">
			<div class="wrapper_grid">
				<div class="grid_item">
					<a href="/siteOne"><u>Проект №1</u></a>
					<div class="item_content">
						<br />
						<span>Здесь можно почитать произведения великих классиков, которые никого не оставят
							равнодушным.</span>
					</div>
				</div>
				<div class="grid_item">
					<a href="/siteTwo"><u>Проект №2</u></a>
					<div class="item_content">
						<br />
						<span>Здесь можно в любой момент посмотреть актуальный прогноз погоды не только на сегодняшний
							день, но и на всю неделю вперёд.</span>
					</div>
				</div>
				<div class="grid_item">
					<a href="/siteThree"><u>Проект №3</u></a>
					<div class="item_content">
						<br />
						<span>Здесь можно отдохнуть за игрой с другом, попытавшись совместно набрать необходимое
							количество очков.
							<p>(Игра только для компьютера)</p>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>