<div class="wrapper">
	<site-one-header></site-one-header>
	<main>
		<div class="main_grid">
			<div class="main_item">
				<img [src]="this.book.img" alt="img">
			</div>
			<div class="main_item">
				<div>
					<span>{{this.book.name}}</span>
				</div>
				<div>
					<span>{{this.book.autor}}</span>
				</div>
			</div>
			<div class="main_item">
				<div>
					<button>Читать</button>
				</div>
			</div>
			<div class="main_item">
				{{this.book.discription}}
			</div>
		</div>
		<div class="content">
		</div>
	</main>
</div>