.wrapper{
	width: 100%;
	height: 100vh;
	color: white;

	main{
		max-height: 800px;
		max-width: 1000px;
		margin: 50px auto;
		
		@media (min-width: 768px) {

			.main_grid{
				display: grid;
				grid-template: repeat(3, 1fr) / repeat(3, 1fr);
				align-items: start;
				grid-template-areas: 
			 		"img name name"
					"img desc desc"
					"reading desc desc";
					//border: gold solid 2px;
				
				.main_item{
					font-size: 20px;
					text-align: center;
					//border: gold solid 2px;
					img{
						height: 310px;
						width: 235px;
						margin: 20px;
						border-radius: 10px;
					}
				}

				.main_item:nth-child(1){grid-area: img;}

				.main_item:nth-child(2){
					grid-area: name;
					display: flex;
					flex-direction: column;

					div{
						margin-top: 25px;
						text-align: left;
					}
					
					div:nth-child(1){
						font-size: 60px;
						margin-top: 40px;
					}
				 }

				.main_item:nth-child(3){
					grid-area: reading;
					
					div{
						display: inline-block;
						margin: 10px;

						button{
							width: 225px;
							height: 75px;
							font-size: 25px;
							border-radius: 25px;
							background: #978476;
							color: white;
						}
					}
				}

				.main_item:nth-child(4){
					grid-area: desc;
					padding-right: 20px;
					text-align: justify;
				}
			}
		}

		.content{
			max-width: 800px;
			margin: -40px auto;
			position: relative;
			hr{
				border: white solid 1px;
				margin-top: 20px;
				margin: 20px 20px 0px 20px;
			}

			.content_space{
				height: 20px;
			}

			.content_top{
				font-size: 24px;
				text-align: center;
				position: absolute;
				top: 5px;
				background-color: #18171C;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				margin-top: -20px;
				padding: 3px 10px;
				white-space: nowrap;
			}
			
			.content_main{
				display: grid;
				grid-template: 1fr/ minmax(auto, auto)  40px;
				transition-duration: 1s;
				font-size: 20px;
				margin-top: 2px;
				border: solid rgb(255, 255, 255, 0.2) 1px;
				.content_item{
					padding: 10px;
					position: relative;
					transition-duration: .8s;
					img{
						width: 15px;
						height: 15px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
			.content_main:hover{
				border: solid rgb(255, 255, 255, 1) 1px;
			}
			

			
			
		}

		@media (max-width: 767px) {

			.main_grid{
				display: grid;
				grid-template-areas: 
			 		"img"
					"name"
					"desc"
					"reading";
				
				.main_item{
					font-size: 20px;
					text-align: center;
					//border: gold solid 2px;
					
					img{
						height: 264px;
						width: 200px;
						border-radius: 10px;
					}
				}

				.main_item:nth-child(1){ grid-area: img; }

				.main_item:nth-child(2){
					grid-area: name;
					display: flex;
					flex-direction: column;
					align-items: center;

					div{
						margin-top: 25px;
						text-align: left;
					}
					
					div:nth-child(1){
						font-size: 50px;
						margin-top: 30px;
						text-decoration: underline 3px;
					}
				}

				.main_item:nth-child(3){
					grid-area: reading;
					
					div{
						display: inline-block;
						margin: 10px 0px 30px 0px;

						button{
							width: 175px;
							height: 58px;
							font-size: 25px;
							border-radius: 25px;
							background: #978476;
							color: white;
						}
					}
				}

				.main_item:nth-child(4){
					grid-area: desc;
					padding: 20px;
					text-align: justify;
				}
			}
		}
		
		@media (max-width: 527px) {
			.main_grid{

				.main_item{

					img{
						height: 224px;
						width: 170px;
					}
				}

				.main_item:nth-child(2){

					div:nth-child(1){
						font-size: 40px;
						margin-top: 20px;
					}

					div{ margin-top: 15px; }
				}

				.main_item:nth-child(4){ font-size: 18px; }
			}
		}
	}
}
