<div class="wrapper">
	<site-one-header></site-one-header>
	<main>
		<div class="main_grid">
			<div class="main_item">
				<img [src]="this.book.img" alt="img">
			</div>
			<div class="main_item">
				<div>
					<span>{{this.book.name}}</span>
				</div>
				<div>
					<span>{{this.book.autor}}</span>
				</div>
			</div>
			<div class="main_item">
				<div>
					<button (click)="startToRead()">Читать</button>
				</div>
			</div>
			<div class="main_item">
				{{this.book.discription}}
			</div>
		</div>
		<div class="content">
			<div class="content_top">
				Содержание
			</div>
			<hr />
			<div class="content_space"></div>
			<div class="content_main" *ngFor="let item of this.book.content; let i = index" (click)="goToPage(i)">
				<div class="content_item">{{item}}</div>
				<div class="content_item"><img src="assets/img/right-arrow.png" alt=""></div>
			</div>
		</div>
	</main>
</div>